* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff9e9;
}

.appBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: darkslateblue;
  font-size: 2rem;
}

button {
  cursor: pointer;
  background: #f1f1f1;
  margin-bottom: 10px;
}

#cityInput,
button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#currentWeather,
#forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  line-height: 1.5;
}

.forecast-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin: 15px 0;
  background-image: linear-gradient(#fff9e9, rgb(210, 210, 210));
}

.forecast-day p {
  margin: 5px 0;
  color: #555;
}

.forecast-container {
  width: 700px;
  margin-top: 20px;
  /* padding: 10px; */
  background-color: #f4eede;
  /* border: 1px solid #ccc; */
  border-radius: 25px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.552); */
}

.forecast-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.forecast-day img,
#currentWeather img {
  width: 50px;
  height: auto;
  display: block;
}
