* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff9e9;
  font-family: "Montserrat", sans-serif;
}

.appBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  background-image: linear-gradient(
    to right,
    #c13a09,
    #f7ac06,
    #edd721,
    #89d0f2,
    #7048b4
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* color: darkslateblue; */
  font-size: 2.2rem;
}

button {
  cursor: pointer;
  background: #f1f1f1;
  margin-bottom: 10px;
}

#cityInput,
button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 10px 0 0;
}

#currentWeather,
#forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  line-height: 1.5;
}

.tempToday {
  font-size: 2rem;
  font-weight: bold;
}

.tempToday.hot {
  color: #b63a3a;
}

.tempToday.warm {
  color: #b8922c;
}

.tempToday.cold {
  color: #557abe;
}

.tempToday.normal {
  color: #8c7b62;
}

.forecast-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px 30px;
  border: 2px solid #fff8da;
  border-radius: 50px;
  margin: 15px 0;
  background-image: linear-gradient(#fff9e9, rgba(213, 210, 199, 0.831));
}

.forecast-day p {
  color: #555;
}

.forecast-day .temp {
  font-weight: bold;
  font-size: 1.5rem;
  flex: 1; /* Allow the temperature to take up space */
  text-align: left; /* Center the temperature text */
  margin-left: 2rem;
}

.forecast-day .date {
  font-weight: 500;
  flex: 1; /* Allow the date to take up space */
  text-align: left; /* Align the date text to the left */
}

.forecast-day .description {
  flex: 2; /* Allow the description to take up more space */
  text-align: center; /* Align the description text to the right */
  font-weight: 500;
}

.forecast-container {
  width: 700px;
  margin-top: 20px;
  background-color: #f4eede;
  border-radius: 25px;
}

.forecast-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.forecast-day img,
#currentWeather img {
  width: 50px;
  height: auto;
  display: block;
}
